
*.pyc
/CHRLINE/.data
/CHRLINE/.database
/CHRLINE/.e2eeKeys
/CHRLINE/.images
/CHRLINE/.refreshToken

# DO NOT UPDATE THRIFT FILES PUBLIC THIS REPO
/CHRLINE/services/thrift/*Service.py
/CHRLINE/services/thrift/*Service-remote
